<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2009-2012, Jean-François Lamy
  
  This Source Code Form is subject to the terms of the Mozilla Public License,
  v. 2.0. If a copy of the MPL was not distributed with this file, 
  You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<configuration scan="true" debug="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} %X{currentGroup} %-5level %class{45}:%L %M - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com" level="WARN" />
	<logger name="net" level="WARN" />
	<logger name="net.sf.ehcache.config.ConfigurationFactory" level="ERROR" />
	<logger name="net.sf.ehcache.hibernate" level="ERROR" />
	<logger name="org" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.hibernate.cache.EhCacheProvider" level="ERROR" />
	<logger name="org.apache.commons.jexl2.Interpreter" level="ERROR" />

	<logger name="org.concordiainternational" level="WARN" />
	
	<logger name="org.concordiainternational.competition.ButtonsLogger" level="DEBUG" />

    <!--   
		<logger name="org.concordiainternational.competition.ui.AttemptBoardView" level="TRACE" />
        <logger name="org.concordiainternational.competition.publicAddress" level="WARN" />
        <logger name="org.concordiainternational.competition.ui.AnnouncerView" level="TRACE" />
        <logger name="org.concordiainternational.competition.ui.GroupData" level="TRACE" />
        <logger name="org.concordiainternational.competition.data.LifterContainer" level="TRACE" />
        <logger name="org.concordiainternational.competition.timer" level="DEBUG" />
        <logger name="org.concordiainternational.competition.spreadsheet" level="TRACE" />

        <logger name="org.concordiainternational.competition.ui.CurrentLifterView" level="DEBUG" />
        <logger name="org.concordiainternational.competition.ui.LifterCardEditor" level="DEBUG" />
        <logger name="tracing" level="INFO" /> 
        <logger name="org.concordiainternational.competition.ui.LifterInfo" level="TRACE" />
        <logger name="org.concordiainternational.competition.spreadsheet" level="TRACE" />
        <logger name="org.concordiainternational.competition.ui.CompetitionApplication" level="DEBUG" />
        <logger name="org.concordiainternational.competition.data.Lifter" level="TRACE" />
        <logger name="org.concordiainternational.competition.ui.components.BrowserPanel" level="DEBUG" />  
    -->
	
	<root level="WARN">
	  <appender-ref ref="STDOUT" />
	</root>

</configuration>
