body {
	font-family: "arial",sans-serif;
}

table {
	border-collapse: collapse;
	font-size: medium;
	width: 100%;
}

th {
	border-spacing: 0;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 4px;
	font-family: sans-serif;
	font-weight: normal;
}

td {
	border-spacing: 0;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 4px;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 115%;
}

td.weight {
	text-align: center;
	width: 7%;
	font-size: large;
	/* font-weight: bold; */
}

td.narrow {
	text-align: right;
	width: 2%;
	font-weight: normal;
}

td.cat {
	text-align: center;
	width: 2%;
	font-weight: normal;
}

td.club {
	text-align: center;
	width: 2%;
	font-weight: normal;
}

.name {
	width: 15%
}

td.fail {
	color: black;
	font-size: large;
	font-weight: 700;
	background-color: #FFAD99; /* #FF7B7C;  desaturated red */
	text-align: center;
	width: 7%;
}

td.success {
	font-weight: 700;
	font-size: large;
	background-color: #EBFFAD; /* #A5FF7F;  desaturated lime */
	color: black;
	text-align: center;
	width: 7%;
}

.done {
	background-color: blue;
	color: white;
}

.current {
	background-color: #FFFF66;/* yellow - was #7FFFFF;  desaturated aqua */
	/* text-decoration: blink; */
	font-size: large;
	font-weight: bolder; 
}


.currentWeight {
	background-color: #FFFF66;/* yellow - was #7FFFFF;  desaturated aqua */
	/* text-decoration: blink; */
	font-size: medium;
	color: navy;
	font-style: italic;
	text-align: center; 
}

.requestedWeight {
	color: navy;
	font-size: smaller;
	font-style: italic;
	font-weight: 300;
	text-align: center;
}
.liftsDone {
	margin-left: 5em;
}

div.title {
	margin-top: 2ex;
	margin-bottom: 0.6ex;
}
span.title {
	font-size: medium;
	font-weight: bold;
}

.english {
	font-weight: normal;
	font-size: smaller;
	display: block; /* replace with "display: none" to hide the translation */
	}